@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --blue:#3b9ac7;
   --black:#000;
   --white:#fff;
   --light-bg:#eee;
   --border-bold:.5rem solid var(--black);
   --border-light:.2rem solid var(--black);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
   color:var(--black);
}

*::selection{
   background-color: var(--black);
   color:var(--blue);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}
 html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body{
   overflow: hidden;
   transition: .2s linear !important;
}

body.active{
   padding-left: 35rem;
}

section{
   padding:3rem 2rem;
   margin: 0 auto;
   max-width: 1200px;
   text-align: center;
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   cursor: pointer;
   padding:1rem 3rem;
   border:var(--border-light);
   font-size: 2rem;
   background: none;
}

.btn:hover{
   background-color: var(--black);
   color:var(--white);
}


.header{
   position: fixed;
   top:0; left:-35rem;
   height: 100vh;
   background-color: var(--white);
   border-right: var(--border-bold);
   width: 35rem;
   padding:3rem 2rem;
   padding-bottom:9rem;
   text-align: center; 
   display: flex; 
   align-items: center;
   justify-content: space-between;
   flex-flow: column;
   transition: .2s linear !important;
   text-align: center;
   /* z-index: 1000; */
  
}

.header .logo{
   text-transform: uppercase;
   border-bottom: var(--border-bold);
   font-weight: bolder;
   font-size: 4.5rem;
}

.header .navbar{
   width: 100%;
}

.header .navbar a{
   display: block;
   font-size: 2.5rem;
   padding:1.5rem;
   margin:.5rem;
} 

.header .navbar a.active,
.header .navbar a:hover{
   background-color: var(--blue);
}

.header .follow a{
   font-size: 3rem;
   margin:0 1rem;
   cursor: pointer;
   transition: .6s linear !important;
}

.header .follow a:hover{
   transform: rotate(360deg);
}

#menu-btn{
   position: absolute;
   top:0; right:-5.5rem;
   height: 4.5rem;
   line-height: 4.5rem;
   width: 5rem;
   font-size: 2.5rem;
   cursor: pointer;
   background-color: var(--black);
   color:var(--white);
}

.header.active{
   left: 0;
}

.home{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:2rem;
   min-height: 100vh;
}

.home .image{
   flex:1 1 40rem;
} 

/* .home .image img{
   height: 65rem;
   padding:2rem;
   
} */

.home .content{
   flex:1 1 40rem;
}

.home .content h3{
   /* text-transform: uppercase; */
   font-size: 5rem;
   margin-bottom: .10rem;
}

.home .content span{
   display: inline-block;
   padding:1rem 2rem;
   background-color: var(--blue);
   font-size: 2.5rem;
   margin:1rem 0;
}

.home .content p{
   font-size: 1.7rem;
   line-height: 2;
   padding:1rem 0;
}


.image {
   position: relative;
   width: 760px;
   height: 840px;
   margin-top: 150px;
   background: rgba(192, 145, 145, 0);
   transition: 0.5s;
   flex:1 1 40rem;
   
 }
 .image img {
   position: absolute; 
   width: 100%;
   transition: 0.5s;
   border-radius: 0 50% 50% 50%;
   padding:2rem;
   height: 65rem;
   right:80px;
 }
 .image:hover img:nth-child(4) {
   transform: translate(160px, -160px);
   opacity: 1;
 }
 .image:hover img:nth-child(3) {
   transform: translate(120px, -120px);
   opacity: 0.8;
 }
 .image:hover img:nth-child(2) {
   transform: translate(80px, -80px);
   opacity: 0.6;
 }
 .image:hover img:nth-child(1) {
   transform: translate(40px, -40px);
   opacity: 0.4;
 }

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   body.active{
      padding-left: 0;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }
   .header.active{
      padding-top: 7rem;
   }

   #menu-btn.fa-times{
      right:0;
   }
   
   .home .image img{
      height: auto;
      width: 100%;
   }

   .heading span{
      font-size: 4rem;
   }
}