@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --blue:#3b9ac7;
   --black:#000;
   --white:#fff;
   --light-bg:#eee;
   --border-bold:.5rem solid var(--white);
   --border-light:.2rem solid var(--white);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
   color:var(--white);
   background-color:#333333;
}

*::selection{
   background-color: var(--white);
   color:var(--blue);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}
 html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body{
   
   overflow: hidden;
   transition: .2s linear !important;
}

body.active{
   padding-left: 35rem;
}

section{
   padding:3rem 2rem;
   margin: 0 auto;
   max-width: 1200px;
   text-align: center;
}

.heading{
   margin-bottom: 3rem;
   text-align: center;
}

.heading span{
   text-transform: uppercase;
   font-size: 6.5rem;
   border-bottom: var(--border-bold);
}

.message{
   position: sticky;
   top:2rem;
   max-width: 1200px;
   margin:0 auto;
   background-color:#B0B0B0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:2rem;
   font-size: 2rem;
   border: 3px solid #181818 ;
}

.message i{
   cursor: pointer;
}



.btn{
   display: inline-block;
   margin-top: 1rem;
   cursor: pointer;
   padding:1rem 3rem;
   border:var(--border-light);
   font-size: 2rem;
   background: none;
}

.btn:hover{
   background-color: var(--blue);
   color:var(--white);
}


.header{
   position: fixed;
   top:0; left:-35rem;
   height: 100vh;
   background-color: #989898;
   border-right: var(--border-bold);
   width: 35rem;
   padding:3rem 2rem;
   padding-bottom:9rem;
   text-align: center; 
   display: flex; 
   align-items: center;
   justify-content: space-between;
   flex-flow: column;
   transition: .2s linear !important;
   text-align: center;
  
  
}

.header .logo{
   text-transform: uppercase;
   background-color: #989898;
   font-weight: bolder;
   font-size: 2rem;
}

.header .navbar{
   width: 100%;
   
}

.header .navbar a{
   display: block;
   font-size: 2.5rem;
   padding:1.5rem;
   margin:.5rem;
   background-color: #989898;
} 

.header .navbar a.active,
.header .navbar a:hover{
   background-color: var(--blue);
}

 .header .follow a{
   font-size: 3rem;
   margin:0 1rem;
   cursor: pointer;
   transition: .6s linear !important;
   
}

.header .follow a:hover{
   transform: rotate(360deg);
   
} 


/* .header .follow ul{
   display: flex;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3rem;
   margin:0 1rem;
   cursor: pointer;
   margin-top: 100%;
   
   
}
.header .follow ul li {
   list-style: none;
 }
 
 .header .follow ul li a {
   width: 80px;
   height: 80px;
   background-color: #fff;
   text-align: center;
   line-height: 80px;
   font-size: 35px;
   margin: 0 10px;
   display: block;
   border-radius: 50%;
   position: relative;
   oFverflow: hidden;
   border: 3px solid #fff;
   z-index: 1;
 }
 
 .header .follow ul li a .icon {
   position: relative;
   color: #262626;
   transition: .5s;
   z-index: 3;
 }
 
 .header .follow ul li a:hover .icon {
   color: #fff;
   transform: rotateY(360deg);
 }
 
 .header .follow ul li a:before {
   content: "";
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: 100%;
   background: #f00;
   transition: .5s;
   z-index: 2;
 }
 
 .header .follow  li a:hover:before {
   top: 0;
 }
 
 .header .follow ul li:nth-child(1) a:before{
   background: #3b5999;
 }
 
 .header .follow ul li:nth-child(2) a:before{
   background: #55acee;
 }
 
 .header .follow ul li:nth-child(3) a:before {
   background: #0077b5;
 }
 
 .header .follow  ul li:nth-child(4) a:before {
   background: #dd4b39;
 }
*/

#menu-btn{
   position: absolute;
   top:0; right:-5.5rem;
   height: 4.5rem;
   line-height: 4.5rem;
   width: 5rem;
   font-size: 2.5rem;
   cursor: pointer;
   background-color: var(--blue);
   color:var(--white);
} 

.header.active{
   left: 0;
}

.home{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:2rem;
   min-height: 100vh;
}

.home .image{
   flex:1 1 40rem;
   border-radius:10% / 50%;
} 


.home .content{
   flex:1 1 40rem;
}

.home .content h3{
   /* text-transform: uppercase; */
   font-size: 5rem;
   margin-bottom: .10rem;
}

.home .content span{
   display: inline-block;
   padding:1rem 2rem;
   background-color: var(--blue);
   font-size: 2.5rem;
   margin:1rem 0;
}

.home .content p{
   font-size: 1.7rem;
   line-height: 2;
   padding:1rem 0;
}

.image {
   position: relative;
   width: 660px;
   height: 660px;
   margin-top: 150px;
   background: rgba(192, 145, 145, 0);
   transition: 0.5s;
   flex:1 1 40rem;
   border:white;
 }

 .image img {
   position: absolute; 
   width: 100%;
   transition: 0.5s;
   border-radius:10% / 50%;
   padding:2rem;
   height: 65rem;
   right:80px;
 }
 .image:hover img:nth-child(4) {
   transform: translate(160px, -160px);
   opacity: 1;
 }
 .image:hover img:nth-child(3) {
   transform: translate(120px, -120px);
   opacity: 0.8;
 }
 .image:hover img:nth-child(2) {
   transform: translate(80px, -80px);
   opacity: 0.6;
 }
 .image:hover img:nth-child(1) {
   transform: translate(40px, -40px);
   opacity: 0.4;
 }

 .heading {
   font-size: 4rem;
 }
 
.about .row-1{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   padding-bottom: 2rem;
}

.about .row-1 .image{
   flex:1 1 10rem;
   
}

.about .row-1 .image img{
   height: 70%;
   width:100%;
   border-radius: 50%;
   
}

.about .row-1 .content{
   flex:1 1 50rem;
   margin-top:200px;
   
}

.about .row-1 .content h3{
   color:var(--blue);
   font-size: 3.5rem;
   margin-top:20px;
}

.about .row-1 .content p{
   color:white;
   font-size: 1.7rem;
   padding:.2rem 0;
   margin-top:50px;
}

.about .row-1 .content .box-container{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
   flex:1 1 20rem;
}

.about .row-1 .content .box-container .box span{
   color:var(--blue);
}

.about .row-2{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: center;
}

.about .row-2 .skills{
   flex:1 1 40rem;
}

.about .row-2 .skills .progress{
   padding:1rem 0;
}

.about .row-2 .skills .progress h3{
   display: flex;
   justify-content: space-between;
   padding:.20rem 0;
   font-size: 1.7rem;
   color:var(--white);
   font-weight: 400;
}

.about .row-2 .skills .progress .bar{
   width:100%;
   background:white;
   overflow:hidden;
   height:1rem;
   border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span{
   display:block;
   height:100%;
   background:var(--blue);
   border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span{
   width:95%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span{
   width:90%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span{
   width:95%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span{
   width:95%;
}
.about .row-2 .skills .progress:nth-child(5) .bar span{
   width:95%;
}
.about .row-2 .skills .progress:nth-child(6) .bar span{
   width:95%;
}

.about .row-2 .box-container{
   flex:1 1 40rem;
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
}

.about .row-2 .box-container .box{
   flex:1 1 15rem;
   background: #989898;
   padding:5rem;
   border-radius: .2rem;
   box-shadow:white;
   
}

.about .row-2 .box-container .box h3{
   color:var(--main-color);
   font-size: 3rem;
   background-color: white;
}

.about .row-2 .box-container .box p{
   color:black;
   font-size: 1.7rem;
   padding-top: .5rem;
   background: #989898;
}
.about .edu-exp{
   margin-top: 150px;
   
}

.about .edu-exp .row{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   
}

.about .edu-exp .row .box-container{
   flex:1 1 40rem;
   
}

.about .edu-exp .row .box-container .title{
   padding:1.5rem;
   font-size: 3rem;
   background-color: var(--blue);
   
}

.about .edu-exp .row .box-container .box{
   text-align: left;
   margin:1.5rem 0;
   background-color:#989898 ;
   padding:2rem;
}

.about .edu-exp .row .box-container .box span{
   font-size: 1.5rem;
}

.about .edu-exp .row .box-container .box h3{
   font-size: 1.5rem;
   font-weight: normal;
   margin-top: 1.5rem;
   margin-bottom: 1rem;
   
}

.about .edu-exp .row .box-container .box p{
   line-height: 1.5;
   font-size: 1.7rem;
   line-height: 2;
}


.portfolio .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.portfolio .box-container .box img{
   height: 90px;
   width: 90px;
   
}

.portfolio .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   font-weight: normal;
}

.portfolio .box-container .box span{
   font-size: 1.7rem;
}

.portfolio .box-container:hover .box {
   opacity: .2;
}
.portfolio .box-container .box:hover{
   opacity: 1;
}

.contact form{
   max-width: 70rem;
   margin:0 auto;
}

.contact form .box{
   width: 100%;
   padding:1.4rem;
   font-size: 2rem;
   text-transform: none;
   border:var(--border-light);
   margin:1rem 0;
   background-color:  #989898;
}

.contact form textarea{
   height: 20rem;
   resize: none;
}

.contact form .flex{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.contact form .flex .box{
   width: 49%;
}

.contact .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
   margin-top: 3rem;
}

.contact .box-container .box{
   padding:3rem 2rem;
   border:var(--border-light);
   background-color: #989898;
}

.contact .box-container .box i{
   font-size: 3rem;
   height: 7rem;
   width: 7rem;
   line-height: 7rem;
   color:black;
   background-color: #989898;
   margin-bottom: .5rem;
}

.contact .box-container .box h3{
   margin:1.5rem 0;
   font-size: 2.5rem;
}

.contact .box-container .box p{
   font-size: 2rem;
   text-transform: none;
}





@media (max-width:991px){

   html{
      font-size: 55%;
   }

   body.active{
      padding-left: 0;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }
   .header.active{
      padding-top: 7rem;
   }

   #menu-btn.fa-times{
      right:0;
   }
   
   .home .image img{
      height: auto;
      width: 100%;
   }

  
   .heading span{
      font-size: 4rem;
   }
}
